/*!
========== Brand Colors
*//*!
========== SPECIFICS
*/.loader{width:9em;height:12em;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;display:block;text-align:center;font-style:italic;color:#5ea9d0}.loader:after{content:'loading..'}.loader img{width:100%}.wrapper-member .profilePic{max-width:2em;margin-right:0.5em}.wrapper-member .industry{display:none}
