/*
 *
 *  FlashLink View Styles
 *  Original Author: Coty Beasley
 *  Twitter: @beacrea
 *
 *
 * ===========================================
 *
 *  TABLE OF CONTENTS
 *
 * ===========================================
 *
 *  $_VARIABLES
 *    - Build
 *    - Colors
 *    - Fonts
 *    - Math
 *
 *  $_MIXINS
 *    - Px -> EM Conversion
 *
 *  $_GlOBAL
 *    - Body
 *
 *  $_SPLASH
 *
 *  $_TESTING
 *
 */






/* ==========================================================================
 $_VARIABLES

 These are global variables.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Colors
 -------------------------------------------------------------------------- */
// TODO Go through the styles and shore up colors into variables properly.
$color-siteBK: #fafafa;
$color-primary-light: #fafafa;
$color-primary-dark: #333;

$color-brand-blue-lt: #8FC6E1;
$color-brand-blue-dk: #0071B4;


/* --------------------------------------------------------------------------
 Font Variables
 -------------------------------------------------------------------------- */
$font_stack-main: Arial, Helvetica, sans-serif;
$font_size_base: 16px;


/* --------------------------------------------------------------------------
 Math Variables
 -------------------------------------------------------------------------- */
$browser_context: 16;





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_MIXINS

 These are SASS functions.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Px -> EM Conversion
 -------------------------------------------------------------------------- */
@function em($pixels, $context: $browser_context) {
  @return #{$pixels/$context}em
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_GLOBAL
 ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body { height: 100%; width: 100%; }
body {
  min-width: 300px;
  color: $color-primary-dark;
  font-family: $font_stack-main;
  font-weight: 300;
  font-size: $font_size_base;
}
.appContainer {
  transition: background 0.5s ease;
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_SPLASH

 These are styles relating to splash and loading views.
 ========================================================================== */


.loader {
  display: block;
  width: 9em;
  height: 12em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-style: italic;
  color: $color-brand-blue-lt;
  &:after {
	content: 'loading..';
  }
  img {
	width: 100%;
  }
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_TEST

 These are styles just for testing.
 ========================================================================== */



.member {
  transition: all 0.5s ease;
  padding: 0.5em;
  font-size: 2em;
  line-height: 150%;
  color: #888;
  &[card] { opacity: 0; }
  &:hover {
	background: #fff !important;
	letter-spacing: 0.05em;
	color: #333 !important;
	cursor: pointer;
	box-shadow: 0 0 10px $color-brand-blue-dk;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  }
  .member_profilePic {
	border: 1px solid #ccc;
	width: 3em;
	margin-right: 0.5em;
  }
}

@media (max-width: em(768)) {
	.member {
	  padding: 0.75em 0.5em 0.5em;
	  font-size: 1.25em;
	  .member_profilePic {
		width: 2.25em;
		margin-right: 0.25em;
		margin-bottom: 0.25em;
	  }
	}
}







/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */
