/*
 *
 *  FlashLink View Styles
 *  Original Author: Coty Beasley
 *  Twitter: @beacrea
 *
 *
 * ===========================================
 *
 *  TABLE OF CONTENTS
 *
 * ===========================================
 *
 *  $_VARIABLES
 *    - Build
 *    - Colors
 *    - Fonts
 *    - Math
 *
 *  $_MIXINS
 *    - Px -> EM Conversion
 *
 *  $_GlOBAL
 *    - Body
 *
 *  $_SPLASH
 *
 *  $_TESTING
 *
 *  $_START
 *
 *  $_GAME
 *
 */






/* ==========================================================================
 $_VARIABLES

 These are global variables.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Colors
 -------------------------------------------------------------------------- */
// TODO Go through the styles and shore up colors into variables properly.
$color-siteBK: #fafafa;
$color-primary-light: #fafafa;
$color-primary-dark: #333;

$color-brand-blue-lt: #8FC6E1;
$color-brand-blue-dk: #0071B4;


/* --------------------------------------------------------------------------
 Font Variables
 -------------------------------------------------------------------------- */
$font_stack-main: Arial, Helvetica, sans-serif;
$font_size_base: 16px;


/* --------------------------------------------------------------------------
 Math Variables
 -------------------------------------------------------------------------- */
$browser_context: 16;





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_MIXINS

 These are SASS functions.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Px -> EM Conversion
 -------------------------------------------------------------------------- */
@function em($pixels, $context: $browser_context) {
  @return #{$pixels/$context}em
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_GLOBAL
 ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body { height: 100%; width: 100%; overflow: hidden; }
body {
  min-width: 300px;
  color: $color-primary-dark;
  font-family: $font_stack-main;
  font-weight: 300;
  font-size: $font_size_base;
  background: #fff;
  transition: all 0.5s ease;
}
.appContainer { height: 100%; overflow: scroll; }





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_SPLASH

 These are styles relating to splash and loading views.
 ========================================================================== */


.loader {
  background: transparent;
  display: none;
  width: 9em;
  height: 12em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-style: italic;
  color: $color-brand-blue-dk;
  &:after {
	content: 'loading..';
  }
  img {
	width: 100%;
  }
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_TEST

 These are styles just for testing.
 ========================================================================== */

.view-test {
  padding-top: 2em;
  padding-bottom: 2em;
}

.member {
  display: block;
  transition: all 0.5s ease;
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 150%;
  color: #888;
  &[card] { opacity: 0; }
  &:hover {
	background: #fff !important;
	letter-spacing: 0.05em;
	color: #333 !important;
	box-shadow: 0 0 10px $color-brand-blue-dk;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  }
  .member_profilePic {
	border: 1px solid #ccc;
	width: 3em;
	margin-right: 0.5em;
  }
}

@media (max-width: em(768)) {
	.member {
	  padding: 0.75em 0.5em 0.5em;
	  font-size: 1.25em;
	  .member_profilePic {
		width: 2.25em;
		margin-right: 0.25em;
		margin-bottom: 0.25em;
	  }
	}
}







/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_START

 These are styles for gameplay.
 ========================================================================== */

.view-start {
  width: 100%;
  height: 100%;
  background: url('../images/tileChecks.png');
}

.wrapper-start {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 320px * .9;
  height: 480px * .9;
  margin: auto;
  background: #fff;
  padding: 2em 1em;
  border: 1px solid #999;
  border-radius: 10px;
  p { margin: 0; }
  b {
	display: block;
	padding-top: 1em;
  }
  header {
	margin-bottom: 1em;
	img { max-width: 100%; }
  }
  .btn {
	transition: all 0.5s ease;
	width: 100%;
	padding: 1em;
	color: #fff;
	&:hover {
	  background: green;
	}
  }
  .btn_startGame {
	font-size: 1.5em;
	text-align: center;
	border: 2px solid $color-brand-blue-dk;
	border-radius: 4px;
	background: $color-brand-blue-lt;
  }
  .IN-widget {
	text-align: center;
	a[id*=li_ui_li_gen_] {
	  font-size: 4em !important;
	}
  }
}









/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_GAME

 These are styles for gameplay.
 ========================================================================== */


.view-game {
  height: 100%;
  background: $color-brand-blue-lt;
  .col {
	padding: 0 2em;
	width: 33%;
	overflow: scroll;
  }
  .col-lt, .col-rt {
	position:absolute;
	top:0;
	bottom:0;
  }
  .col-lt {
	left:0;
	background: $color-brand-blue-lt;
	border-right: 4px solid darken($color-brand-blue-lt, 10%);
	.card { border: 0.5em solid #fff; }
  }
  .col-cntr {
	background: $color-brand-blue-lt;
	position:relative;
	margin-left:33%;
	height: 100%;
	border-left: 2px solid lighten($color-brand-blue-lt, 10%);
	.card {
	  padding: 1em;
	  font-size: 1.5em;
	  background: url(../images/tileChecks.png) #fff;
	  border: 0.25em solid #eee;
	  span { display: block; }
	}
  }
  .col-rt {
	right:0;
	background: #fff;
	border-left: 1em solid #eee;
	box-shadow: -2px 0px 3px darken($color-brand-blue-lt, 50%);
  }
  .card {
	transition: all 0.5s ease;
	box-shadow: 2px 2px 3px #666;
	margin: 2em 0;
	&:hover {
	  transform: rotate(5deg);
	  cursor: pointer;
	}
	img {
	  max-width: 100%;
	  width: 100%;
	}
  }
}

@media (max-width: em(600)) {
  .view-game {
	.col-cntr {
	  .card { font-size: 1em; }
	}
  }
}







/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */