/*
 *
 *  FlashLink View Styles
 *  Original Author: Coty Beasley
 *  Twitter: @beacrea
 *
 *
 * ===========================================
 *
 *  TABLE OF CONTENTS
 *
 * ===========================================
 *
 *  $_VARIABLES
 *    - Build
 *    - Colors
 *    - Fonts
 *    - Math
 *
 *  $_MIXINS
 *    - Px -> EM Conversion
 *
 *  $_GlOBAL
 *    - Body
 *
 *  $_SPLASH
 *
 *  $_TESTING
 *
 */






/* ==========================================================================
 $_VARIABLES

 These are global variables.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Colors
 -------------------------------------------------------------------------- */
// TODO Go through the styles and shore up colors into variables properly.
$color-siteBK: #fafafa;
$color-primary-light: #fafafa;
$color-primary-dark: #333;


/* --------------------------------------------------------------------------
 Font Variables
 -------------------------------------------------------------------------- */
$font_stack-main: Arial, Helvetica, sans-serif;
$font_size_base: 16px;


/* --------------------------------------------------------------------------
 Math Variables
 -------------------------------------------------------------------------- */
$browser_context: 16;





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_MIXINS

 These are SASS functions.
 ========================================================================== */


/* --------------------------------------------------------------------------
 Px -> EM Conversion
 -------------------------------------------------------------------------- */
@function em($pixels, $context: $browser_context) {
  @return #{$pixels/$context}em
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_GLOBAL
 ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body { height: 100%; width: 100%; }
body {
  min-width: 300px;
  color: $color-primary-dark;
  font-family: $font_stack-main;
  font-weight: 300;
  font-size: $font_size_base;
}
.container-main { padding: 1em 0 2em; }





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_SPLASH

 These are styles relating to splash and loading views.
 ========================================================================== */


.loader {
  width: 9em;
  height: 12em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  text-align: center;
  font-style: italic;
  color: $color-brand-blue-lt;
  &:after {
	content: 'loading..';
  }
  img {
	width: 100%;
  }
}





/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */





/* ==========================================================================
 $_TEST

 These are styles just for testing.
 ========================================================================== */


.member {
  .member_profilePic {
	max-width: 2em;
	margin-right: 0.5em;
  }
}







/* - - - - - - - - - - - - - - - - * // * - - - - - - - - - - - - - - - - -  */
