<div class="container view-auth">
	<div class="wrapper-auth">
		<header>
			<img src="images/authLogo.png" alt=""/>
		</header>
		<hr>
		<p>To start the game, please authorize your linkedin account.</p>
		<a class="btn_login">Authorize Linkedin</a>
	</div><!-- /.wrapper-auth -->
</div><!-- /.container -->

<div class="view-game">
	<div class="col col-lt"></div><!-- /.col -->
	<div class="col col-cntr"></div><!-- /.col -->
	<div class="col col-rt">
		<div class="wrapper-scoreBoard">
			<div class="wrapper-instructions">
				<h1>Instructions</h1>
				<p><b>The game is simple:</b> match your connections faces to their names. That's it!</p>
				<p>If you match all 15 connections, you win! However, if you mismatch 5 connections, you'll lose the game.</p>
				<p>Best of luck!</p>
			</div><!-- /.instructions -->
			<div class="wrapper-scores">
				<div class="col col_losses">
					<span class="score_title">Incorrect Tries</span>
					<span class="score">
						<span class="score_count">0</span>
						/ <b>5</b></span>
				</div><!-- /.col -->
				<div class="col col_wins">
					<span class="score_title">Correct Matches</span>
					<span class="score">
						<span class="score_count">0</span>
						/ <b>15</b></span>
				</div><!-- /.col -->
				<div class="col col_retry">
					<span class="score_title">New Game?</span>
					<span class="score btn_nav" rel="gameplay">
						<i class="fa fa-refresh"></i>Refresh
					</span>
				</div><!-- /.col -->
			</div><!-- /.scoreBoard -->
		</div><!-- /.scoreBoard -->
	</div><!-- /.col -->
</div><!-- /.view-game -->
<div class="btn btn_match">Compare Matches</div><!-- /.btn_match -->