<div class="view-game">
	<div class="col col-lt">
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
		<div class="card card-default">
			<img src="images/cardPH.png" alt="Card Placeholder" />
		</div><!-- /.card -->
	</div><!-- /.col -->
	<div class="col col-cntr">
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
		<div class="card card-default">
			<span>First Name, Last Name</span>
		</div><!-- /.card -->
	</div><!-- /.col -->
	<div class="col col-rt">
		<div class="wrapper-scoreBoard">
			<div class="wrapper-instructions">
				<h1>Instructions</h1>
				<p><b>The game is simple:</b> match your connections faces to their names. That's it!</p>
			</div><!-- /.instructions -->
			<div class="wrapper-scores">
				<div class="losses">X/5</div>
				<div class="wins">X/15</div>
				<div class="btn retry">Retry</div>
			</div><!-- /.scoreBoard -->
		</div><!-- /.scoreBoard -->
	</div><!-- /.col -->
</div><!-- /.view-game -->
<div class="btn btn-match">Compare Matches</div><!-- /.btn-match -->