<div class="view-start">
	<div class="wrapper-start">
		<header>
			<img src="images/flashlinkLogo.png" alt="FlashLink Logo"/>
			<hr>
			<p>FlashLink is a game that tests if you really know who your Linkedin connections are.</p>
			<b>How to Play</b>
			<p>After starting the game, we'll prompt you to log into your linkedin account, then randomly choose 15 connections for you to match.</p>
		</header>
		<div class="start_options">
			<a class="btn btn-nav btn_startGame" rel="test">Start the Game</a>
		</div><!-- /.start-options -->
	</div><!-- /.wrapper-start -->
</div><!-- /.view-start -->